.tickets {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tickets-finalizar {
  margin-left: auto;
}

.tickets-ticket {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin-bottom: 16px;
}

.tickets-country {
  align-items: center;
  background-color: white;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  justify-content: center;
  padding: 16px;
  text-transform: uppercase;
}

.tickets-passengers {
  background-color: rgba(151, 149, 240, 0.5);
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  padding: 16px;
  position: relative;
}

.tickets-passengers p {
  margin: 2px;
}

.tickets-passengers span {
  color: #4f54a7;
  font-size: 60px;
  position: absolute;
  right: 10px;
  top: -10px;
  transform: rotate(-45deg);
}
