.search {
  display: flex;
  flex-direction: column;
}

.search-select {
  border-radius: 8px;
  border: 0;
  font-size: 1rem;
  margin: 16px 0;
  padding: 8px;
}

.search-continue {
  margin-left: auto;
}
